
.hulkCard{
    transition: all 0.3s ease-in-out;
}

.hulkCard:hover{
    box-shadow: 0px 0px 10px #000000;
    transform: scale(1.1);
}

.hulkCarousel{
    max-height: 600px !important;
    min-height: 400px !important;
}

.glass{

    backdrop-filter: blur(8px) saturate(151%);
    -webkit-backdrop-filter: blur(8px) saturate(151%);
    background-color: rgba(228, 241, 215, 0.41);
    border-radius: 12px;
    
    border: 1px solid rgb(0, 155, 13);  
}

.textShadow{
    text-shadow: 2px 2px 2px #000000 !important;
}

.hulkTitle{
    font-size: 8vw;
    font-weight: 900;
    display: block;
    padding: .5em;
    background-color: #000;
    text-shadow: 2px 2px 2px #fff !important; 
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.hulkTitle:hover{
    background-color: rgba(0, 155, 13, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255) !important; 
    color: #000 !important;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.bgImg{
    
    background-image: url('https://wallpaper.dog/large/10939302.jpg');
}



